body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin: 0;
  
}

.topdark {
  background-color: #1F2937;
  padding-left: 200px;
  padding-right: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
}

ul {
  list-style: none;
  display: inline-flex;
  gap: 16px;
  
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.hero {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}


.hero-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin: 0;
  
  
}

.lightbulb {
  width: 100%;
}

.hero-text {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  
}




.hero-main {
  
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin-bottom: 0;
  
}

.hero-secondary {
  
  font-size: 18px;
  color: #E5E7EB;
  margin-top: 0;
  
}

.sign-up {
  background-color: #3882F6;
  color:#F9FAF8;
  border-radius: 3px;
  border-style: none;
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 250px;
  padding-right: 250px;
  margin-bottom: 100px;
}

.items {
  
  display: flex;
  flex: 1;
  gap: 50px;
  justify-content: center;
  
  text-align: center;
}


.info-images {
  border-style: solid;
  border-color: #3882F6;
  border-radius: 8px;
  border-width: 2px;
}

h2 {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
}

.quote {
  background-color: #E5E7EB;
  color:#1F2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 100px;
  padding-bottom: 100px;

}

.author {
  font-weight: 400;
  font-style: normal;
  text-align: end;
}
.bottom-banner {
  background-color: #3882F6;
  color: #F9FAF8;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}



.action {
  font-size: 36px;
  font-weight: 500;
}




.click {
  color: #E5E7EB;
  
}

.sign-up-bottom {
  background-color: #3882F6;
  color:#F9FAF8;
  border-radius: 3px;
  border-style: none;
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-color: #F9FAF8;
}

footer {
  background-color: #1F2937;
  color:#E5E7EB;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
