body {
  font-family: Roboto, sans-serif;

}

.topdark {
  background-color: #1F2937;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 600;
}

ul {
  list-style: none;
  display: inline-flex;
  gap: 12px;
  
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.hero-main {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero-secondary {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  color:#F9FAF8;
  border-radius: 3px;
  border-style: none;
  font-size: 18px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.lightbulb {
  width: 300px;
}

.info-images {
  border-style: solid;
  border-color: #3882F6;
  border-radius: 4px;
  border-width: 2px;
}

h2 {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
}

.quote {
  background-color: #E5E7EB;
  color:#1F2937;
  font-size: 36px;
  font-style: italic;
  font-weight:100;
}
.bottom-banner {
  background-color: #3882F6;
  color: #F9FAF8;
}

footer {
  background-color: #1F2937;
  color:#E5E7EB;
}
